# ignore the python class files (.pyc)
__pycache__/

# ignore the log file
recon_helper.log

# ignore the database file
records.db

# ignore the config file, because development and production environment
# is different
recon_helper.config

# ignore the result files
samples/base_dir1/result/*
samples/base_dir2/result/*

# the testing winscp scripts and logs
samples/winscp_script/
samples/winscp_log/

# the winscp scripts and logs
winscp_script/
winscp_log/

# the downloaded files from test ftp
*.png
