# The configuration file for bochk.
#
[directory]

# where to look for input cash and positions files. Leave it empty
# if in current directory.
input=P:\Reconciliation
#input=C:\temp\Reconciliation
#input=C:\temp\R2

# where to store converted files for recon. Leave it empty if in current 
# directory.
output=P:\Reconciliation\result
#output=C:\temp\Reconciliation\result
#output=Z:\result

# copy to this directory if a file is not uploaded successfully.
backup=C:\temp



[winscp]

# where to look for winscp.com
application=C:\Program Files (x86)\WinSCP\WinSCP.com

# where to store the script files
#script_dir=C:\Program Files\Git\git\reconciliation_helper\winscp_script
script_dir=C:\Users\steven.zhang\AppData\Local\Programs\Git\git\reconciliation_helper\winscp_script
#script_dir=C:\Users\geneva_user\git\reconciliation_helper\winscp_script

# where to store the winscp log files
#log_dir=C:\Program Files\Git\git\reconciliation_helper\winscp_log
log_dir=C:\Users\steven.zhang\AppData\Local\Programs\Git\git\reconciliation_helper\winscp_log
#log_dir=C:\Users\geneva_user\git\reconciliation_helper\winscp_log


[sftp]

# the time limit for a sftp job in seconds
timeout=180

# remote server address
#server=test.rebex.net
server=sftp.clamc.com.hk

# username
#username=demo
username=svc_sftp

# password
#password=password
password=CEcY26



[email]

# the mail server address
server=192.168.70.101

# the mail sender
sender=itsupport@clamc.com.hk

# the mail recipients
recipents=steven.zhang@clamc.com.hk, fundaccounting@clamc.com.hk
#recipents=steven.zhang@clamc.com.hk

# smtp timeout in seconds
timeout=15



[test]

# For unittest only, default value is empty (not in test mode). When doing
# unittest, the test code will set it to a different value.
testmode=



[database]
db_file=sqlite3_records.db